.form {
  background-color: whitesmoke;
  border: black solid 2px;
  padding: 5px;
  margin: 5px;
}

.form__label {
  padding: 5px;
  font-weight: bold;
}

.form__submit {
  border: 2px outset ThreeDLightShadow;
  background-color: gainsboro;
  cursor: pointer;
  margin: 3px;
  padding: 0;
}

.form__submit:active {
  border: 2px inset ThreeDLightShadow;
}

.form__textarea {
  border: 1px solid grey;
  width: 75%;
  min-height: 75px;
}
