.reviewCard {
  background-color: whitesmoke;
  border: black solid 2px;
  margin: 5px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 20px, 40px;
  grid-auto-rows: minmax(10px, auto);
  gap: 3px;
}

.ownerButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ownerButtonIndivReview {
  border: 2px outset ThreeDLightShadow;
  background-color: gainsboro;
  cursor: pointer;
  margin: 3px;
  text-transform: capitalize;
}

.ownerButtonIndivReview:active {
  border: 2px inset ThreeDLightShadow;
}

.reviews__title {
  text-align: center;
  margin: 7px;
  text-decoration: none;
  color: black;
}

.reviewsImage {
  height: 50px;
  margin: 4px;
  border: 1px solid black;
  border-radius: 25px;
  grid-area: img;
  display: none;
}

.reviewBody {
  text-align: left;
  padding: 10px;
  margin: 3px;
  background-color: gainsboro;
}

.reviewData {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 3px;
}

.reviewData p {
  margin: 0px;
}

/* comments style */

.comments {
  background-color: gainsboro;
}
.comments__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.commentCard {
  background-color: whitesmoke;
  border: black solid 2px;
  margin: 5px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 20px, 40px;
  grid-auto-rows: minmax(10px, auto);
  gap: 3px;
}

.commentsSortButtons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: black solid 2px;
  background-color: whitesmoke;
  padding: 3px;
  margin: 5px;
}

.sortButton {
  border: 2px outset ThreeDLightShadow;
  background-color: gainsboro;
  cursor: pointer;
  margin: 3px;
}

.sortButton--state-active {
  border: 2px inset ThreeDLightShadow;
  background-color: rgb(185, 182, 182);
  margin: 3px;
}

.comments__list__poster {
  background-color: grey;
  border-bottom: black solid 2px;
}

.commentBody {
  text-align: left;
  padding: 10px;
  margin: 3px;
  background-color: gainsboro;
}

.commentData {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 3px;
}

.commentData p {
  margin: 0px;
}
