.App {
  text-align: center;
}

.main_header {
  background-color: grey;
}

.nav {
  background-color: lightgray;
}

img {
  display: block;
  max-width: 230px;
  max-height: 95px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.reviews {
  background-color: gainsboro;
  list-style-type: none;
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reviewsByCategory__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reviews__title {
  background-color: grey;
  border-bottom: black solid 2px;
}

.reviews__sortButton--state-active {
  background-color: rgb(185, 182, 182);
}

.review {
  background-color: gainsboro;
}

.review__title {
  background-color: grey;
  border-bottom: black solid 2px;
}

.comments {
  background-color: gainsboro;
}
.comments__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.comments__list__poster {
  background-color: grey;
  border-bottom: black solid 2px;
}
